*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    background-color:#F6F6EE ;
}
#main #nav{
    width: 100%;
    padding:  2vh;
    background-color: #F6F6EE;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#main #nav h1{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Gilroy;
}
#main #nav h1 span{
    color: rgb(202, 190, 190);
}

#main #nav #link{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 50px;
 margin-right: 200px;

 
}
#nav #link a{
    text-decoration: none;
    font-family: Gilroy;
    font-size: 20px;
    color: black;
   

}
#main #text{
    padding: 8vh;
    background-color:#F6F6EE;
    text-align:center;
    


}
#main #text h1{
    font-size: 50px;
    font-weight: 100;
    font-family: PlayFair Display;
}
#main #text p{
    margin-top: 10px;
    padding: 0 auto;
    font-size: 20px;
    font-weight: 20px;
    font-family: Gilroy;

}
#main #text button{
    padding: 10px 20px;
    margin-top: 15px;
    background-color: black;
    border-radius: 50px;
    color: white;
}
#main #photo img{
    width: 100%;
}
#main #dec{
    padding: 4vh;
    padding: 22vh;
    width: 100%;
    background-color: #F6F6EE;
    display:flex;
    
}
#main #dec #left{
    position: relative;
    padding-right: 22px;
    text-align: right;
    width: 50%;
    border-right: 2px solid black;
}
#dec #line{
    position:absolute;
    top: 60%;
    left: 90%;
    width: 25px;
    background-color: black;
    height: 1.5px;
}
#left h1{
    padding-left: 50px;

}
#left p{
    padding-left: 100px;
    margin-top: 20px;
}
#dec #right{
    position:relative;
    width: 50%;
    display:flex;
    padding-left: 20px;
    text-align: left;

}
#dec #right h1{
    margin-left: 10px;
}
#dec #right p{
margin-top: 20px;
padding-right: 50px;
}
 

